.menu-container
{
   display: inline-block;
   width: 700px;
}

.menu
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #54c8ff;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.menu-normal
{
   float: left;
}

.menu-item
{
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
.menu-item:hover:not(.active) 
{
   background-color: #32bdff;
}

.menu-active 
{
   float: left;
   background-color: #11b2ff;
}

.news-container
{
    border-right: 1px solid #32bdff;
    border-bottom: 1px solid #32bdff;
    border-left: 3px solid #32bdff;
    padding: 10px;
    text-align: left;
}
.news-container-end
{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}